.App {
  text-align: center;
  background-color: #1e1e1e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.NavButtons button{
  border: 0;
  text-align: center;
  display: inline-block;
  padding: 14px;
  width: 150px;
  margin: 7px;
  color: #ffffff;
  background-color: #507550;
  border-radius: 8px;
  font-family: "proxima-nova-soft", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: box-shadow 200ms ease-out;
}

.NavButtons button:hover {
  background-color: #69b969;
}


.App-link {
  color: #61dafb;
}

.Contact img{
  margin-top: 5vh;
  border-radius: 8px;
  width: 200px;
  height: 200px;
}

